.mat-card {
  box-sizing: border-box;
  padding: 16px;
  &:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  }
}

.react {
  background-color: #61dbfb !important;
  color: black !important;
}

.angular {
  background-color: #dd1b16 !important;
}
