<div class="mat-body-1">
  <p>I'm a passionate software engineer, focusing on frontend development.</p>
  <p>
    Outside of software, my passion is all things running. Catch me at the local
    parkrun, trail or road race.
  </p>
</div>

<mat-divider class="my-3"></mat-divider>

<div class="sample-projects">
  <h2>Sample Projects</h2>
</div>

<!-- <div
  fxLayout="row wrap"
  fxLayoutGap="15px grid"
  fxLayoutAlign="space-around"
  class="projects"
>
  <app-project-card *ngFor="let project of projects" [project]="project">
  </app-project-card>
</div> -->

<div fxLayout="row wrap" fxLayoutGap="25px grid" fxLayoutAlign=" center">
  <app-project-card
    (click)="openProjectDialog(project)"
    *ngFor="let project of projects"
    [project]="project"
    [fxFlex]="'33%'"
    fxFlex.sm="50%"
    fxFlex.xs="100%"
  ></app-project-card>
</div>
